body {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: black;
  margin-top: 100px;
}

div {
  max-width: 292px;
}

button {
  background-color: gray;
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  font-size: 20px;
  color: white;
} 

.operatorBtn {
  background-color: rgb(255, 153, 0);
}

#calculationResult {
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: end;
  padding-right: 10px;
}